body {
    background: #FFFF00;
}
h1 {
    text-align: center;
    font-family: Stencil;
    color: white;
    background: #483d8b;
}
h2 {
    text-align: center;
    font-family: Stencil;
    color: white;
    background:#483d8b;
}
h3 {
    color:white;
    font-family: Stencil;
}
input[type="text"] {
    background-color: #FFFF00;
    border-color: black;
    margin-bottom: 2%;
}
input[type="email"] {
    background-color: #FFFF00;
    border-color: black;
    margin-bottom: 2%;
}
input[type="password"] {
    background-color: #FFFF00;
    border-color: black;
    margin-bottom: 2%;
}
#Image {
    width: 40%;
    display: block;
    margin-left: 3%;
    float:left;
}
#alertbox {
    margin: auto;
    color:white;
    background-color: red;
    height:10%;
    width:15%; 
    float:left;
    padding-left: 2%;
    margin-left: 2%; 
    margin-right: 3%;
}
#login {
    margin: auto;
    color:white;
    background-color:#483d8b;
    height:28%;
    width:20%; 
    float:left;
    padding-left: 2%;
    margin-left: 2%; 
    margin-right: 3%;
}
#submitbutton{
    display: inline-block;
    color: #f2f2f2;
    float: right;
    margin-right: 10%;
    background: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
#register{
   margin-top:28%;
   background-color:#483d8b;
   color: white;
   outline-color: black;
   width:70%;
   margin-left: 18%;
}
#fieldset{
    border-color: #FFFF00;
    padding-left: 5%;
}
.col1 {
    float: left;
    width:110px;
}
.text-box{
    margin-right: 10px
}
.heading{
    height:100px;
    width: 200px;
    margin:auto;
}
.heading2{
    height:100px;
    width:200px;
    margin-left:90px;
}
#val1{
    display: none;
    color: red;
}
#val2{
    display: none;
    color: red;
}
#val3{
    display: none;
    color: red;
}
#val4{
    display: none;
    color: red;
}
#val5{
    display: none;
    color: red;
}
#val6{
    display: none;
    color: red;
}
#emailandpass{
    float: left;
    position: relative;
    margin-right: 2%;
}
#person{
    float: left;
    margin-right: 2%;
}
#person2{
    float:left;
}
