body {
    background: #FFFF00;
}
h1 {
    text-align: center;
    font-family: Stencil;
    color: white;
    background: #483d8b;
}
h2 {
    text-align: center;
    font-family: Stencil;
    color: white;
    background:#483d8b;
}
h3 {
    color:white;
    font-family: Stencil;
}
#heading1 {
    margin: auto;
    width:20%;
}
#fieldset, #eventsattending, #hostinfo{
    border-color: #FFFF00;
}
.box {
    background-color: #FFFF00;
}
#Image {
	width: 40%;
	margin:auto;
	display: block;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {float: left;}
ul.topnav li input {
    display: inline-block;
    color: #f2f2f2;
    background: #483d8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
#usernameheader {
    float:left;
    padding-top: 1%;
    padding-left: 10%;
    color: white;
    font-family: Stencil;
    font-size: 20px;
}
#addevent {
float: left;
display: none;
width: 80%;
margin-left: 10%;
margin-top: 3%;
background-color: #483d8b;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
color: white;
font-family: Arial;
}
#eventtitle {
    float:left;
    margin-right: 1%;
}
#start{
    float: left;
    margin-right: 1%;
}
#end {
    float: left;
    margin-right: 1%;
}
#description{
    float: left;
    margin-right: 1%;
}
#description {
    float: left;
    margin-right: 1%;
}
#ticket {
    float: left;
    margin-right: 1%;
}
#address {
    float: left;
    margin-right: 1%;
}
.submit{
    display: inline-block;
    color: #f2f2f2;
    background: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
#hosting {
    position: absolute;
    top:10%;
    left:2%;
    display: none;
    width:20%;
    background-color: #483d8b;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#search {
	float: left;
	display: none;
    background-color:#483d8b;
    width: 90%; 
    padding-left: 2%;
    padding-bottom: 2%;
    color: white;
    margin-top:5%;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    font-family: Arial;
}
#eventtable, .tableheads, .eventtoattend {
    border: 2px solid black;
    color: white;
    border-collapse: collapse;
    border-color: #FFFF00;
    padding-right: 0.5%;
    padding-left: 0.5%;
    margin-top: 1%;
    font-family: Arial;
}
.tableheads, .eventtoattend {
    width:5%;
    text-align: center;
}
#desiredeventcategory {
    background-color: #FFFF00;
}
#attending {
  display: none;
}
#logoutbutton {
float:right;
margin-right: 2%;
}
#logout {
    background-color: #483d8b;
    position: absolute;
    top:10%;
    right:1%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: Stencil;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: none;
}
#confirmlogout {
display: inline-block;
    color: #483d8b;
    background: #FFFF00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;    
}
ul.topnav li a:hover {background-color: #555;}
ul.topnav li.icon {display: none;}
