body {
    background: #FFFF00;
}
h1, h2 {
    text-align: center;
    font-family: Stencil;
    color: white;
    background: #483d8b;
}
h3 {
    color:white;
    font-family: Stencil;
}
#heading1 {
    margin: auto;
    width:20%;
}
#fieldset, #eventsattending, #hostinfo{
    border-color: #FFFF00;
}
.box {
    background-color: #FFFF00;
}
#Image {
	width: 40%;
	margin:auto;
	display: block;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {float: left;}
ul.topnav li input {
    display: inline-block;
    color: #f2f2f2;
    background: #483d8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
#usernameheader {
    float:left;
    padding-top: 1%;
    padding-left: 10%;
    color: white;
    font-family: Stencil;
    font-size: 20px;
}
#addevent {
float: left;
display: none;
width: 80%;
margin-left: 10%;
margin-top: 10%;
background-color: #483d8b;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
color: white;
font-family: Arial;
margin-top: 5%;
}
#eventtitle, #start, #end, #description, #ticket, #address {
    float:left;
    margin-right: 1%;
}
#dateerror, #dateerror1 {
    display: none;
    color: red;
    font-size: 10px;
}
.submit{
    display: inline-block;
    color: #f2f2f2;
    background: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    margin-top: 15%;
}
.btndisplayguests {
    display: inline-block;
    color: #f2f2f2;
    background: black;
    text-align: center;
    padding: 50% 1%;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}
#hosting {
    display: none;
    padding-left: 1%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
    width: 100%;
}
#hostingborder {
    width: 30%;
    float: left;
    background-color: #483d8b;
    padding: 0% 2% 2% 2%;
    margin-right: 5%;
}
#hostedevents, .tablehead, #info, .info2, #eventsattending, #info3, #guesttable, #pastevents {
    border: 2px solid black;
    color: white;
    border-collapse: collapse;
    border-color: #FFFF00;
    font-family: Arial;   
}
.tablehead, #info, .info2 {
    width:5%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
    padding-left: 0.5%;
}
#info3 {
    width:8%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
    padding-left: 0.5%; 
}
#eventguests {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    background-color: #483d8b;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-family: Arial;
    display: none;
}
#search {
	float: left;
	display: none;
    background-color:#483d8b;
    width: 90%; 
    padding-left: 2%;
    padding-bottom: 2%;
    color: white;
    margin-top:5%;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    font-family: Arial;
}
#searchcategory {
    float: left;
    margin-right: 5%;
}
#searchdates {
    float: left;
}
#searchbutton {
    float:left;
    margin-right: 3%;
}
#pasteventsattended {
    float: left;
    margin-left: 5%;
}
#events_table, #userfeedback {
    padding-top: 1%;
    float: left;
}
#searchbutton {
    margin-top: 7%;
}
#eventtable, .tableheads, .eventtoattend {
    border: 2px solid black;
    color: white;
    border-collapse: collapse;
    border-color: #FFFF00;
    padding-right: 0.5%;
    padding-left: 0.5%;
    margin-top: 1%;
    font-family: Arial;
}
.tableheads, .eventtoattend {
    width:5%;
    text-align: center;
}
#desiredeventcategory {
    background-color: #FFFF00;
}
#attending {
    display: none;
}
#attendingtable{
    background-color: #483d8b;
    margin-top: 3%;
    padding:1% 1% 1% 1%;
    font-family: Arial;
    color: white;
    width: 60%;
    margin-left: 20%;
}
#feedbacktext {
    background-color: #483d8b;
    padding:1% 1% 1% 1%;
    font-family: Arial;
    color: white;
    width: 25%;
    height: 20%;
    position: absolute;
    top: 30%;
    right:1%;
    display: none;
}
#textbox {
    width:100%;
    height:60%;
}

#accountbutton {
    float:right;
    margin-right: 2%;
}
#accountmanagement, #suredeleteaccount {
    background-color: #483d8b;
    position: absolute;
    top:10%;
    right:1%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: Stencil;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: none;
}
#confirmlogout, #deleteaccount, #yesdeleteaccount, #nodeleteaccount {
    display: inline-block;
    color: #483d8b;
    background: #FFFF00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;    
}
ul.topnav li input:hover {background-color: #555;}
ul.topnav li.icon {display: none;}
